/*03. ul-image-effect  */

@media (min-width:320px) and (max-width:543px) {
    .ul-img-effect,
    .box-ul-img-effect {
        display: none !important;
        visibility: hidden !important;
    }
    .box-menu-bottom {
        top: 0 !important;
    }
    .box-menu-bottom-item {
        width: calc(100%/2) !important;
    }
}

@media (min-width:544px) and (max-width:767px) {
    .ul-img-effect,
    .box-ul-img-effect {
        display: none !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
     :root {
        --style-4-chieu-cao-menu: 85px;
        --style-4-bg-position: top center;
        /* --style-4-oject-fix-img: 0px 0px; */
        --style-4-chieudai-li-menu-level-1: 120px;
        --style-4-chieucao-box-img-hover: 110px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
     :root {
        --style-4-chieu-cao-menu: 85px;
        /* --style-4-oject-fix-img: 0px 0px; */
        --style-4-bg-position: top center;
        --style-4-chieudai-li-menu-level-1: 150px;
        --style-4-chieucao-box-img-hover: 110px;
    }
}

@media(min-width:1200px) {
     :root {
        --style-4-chieu-cao-menu: 85px;
        --style-4-bg-position: top center;
        /* --style-4-oject-fix-img: 0px -50px; */
        --style-4-chieudai-li-menu-level-1: 170px;
        --style-4-chieucao-box-img-hover: 110px;
    }
}


/* ul-img-effect */

.box-menu-push {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.ul-img-effect>li {
    position: relative;
    font-weight: 500;
    float: left;
    width: var(--style-4-chieudai-li-menu-level-1);
    height: var(--style-4-chieu-cao-menu);
    line-height: var(--style-4-chieu-cao-menu);
    position: relative;
    cursor: pointer;
    text-align: center;
    background-color: var(--background-menu-level-1);
    /* color: #929292; */
    color: var(--text-color-menu-level-1);
}

.ul-img-effect>.li-img-effect::after {
    content: '';
    width: 100%;
    height: 85px;
    transform-origin: 50% 50%;
    /* z-index: -1; */
    z-index: 0;
    position: absolute;
    top: 0%;
    left: 0;
    transition: 0.3s;
}

.ul-img-effect>.li-img-effect::before {
    content: '';
    width: 100%;
    height: 85px;
    transform-origin: 50% 50%;
    /* z-index: -1; */
    z-index: 0;
    position: absolute;
    top: 0%;
    left: 0;
    transition: 0.3s;
}

.box-menu-img {
    width: var(--style-4-chieudai-li-menu-level-1);
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    background-position: var(--style-4-bg-position) !important;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    height: 85px;
    transform-origin: 50% 100%;
    transform: scale(0);
    transition: 0.3s;
}

.box-menu-name {
    position: relative;
    z-index: 999;
    width: 100%;
    transition: 0.3s;
}

.box-menu-name a {
    color: var(--color-60);
}

.box-menu-name-c2 {
    width: 100%;
    min-height: var(--style-4-chieucao-box-img-hover);
    position: absolute;
    background-color: var(--background-menu-level-2);
    top: 0;
    z-index: 1 !important;
    left: 0;
    opacity: 0;
    visibility: hidden;
    line-height: 30px;
    /* border: 1px solid #ffffff39; */
}

.box-menu-name-c2>ul>a>li {
    /* background-color: var(--background-menu-level-2-hover); */
    color: var(--text-color-menu-level-2);
    font-weight: 400;
    border-top: 1px solid #5e555514;
    padding: 3px 0 3px 0;
}

.box-menu-top {
    position: absolute;
    top: 50px;
    left: 0;
}

.box-menu-bottom {
    margin: auto !important;
    position: absolute;
    width: 78%;
    height: auto;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    transition: 0.5s;
}

.box-menu-bottom-item {
    width: calc(100%/5);
    height: 250px;
    overflow: hidden;
    padding: 0 10px 20px 10px;
}

.box-menu-bottom-item img {
    width: 100% !important;
    height: 200px;
    background-color: blueviolet;
    object-fit: cover;
    object-position: top center;
}