/* 
 button basic
 -color
 -round
 -border
  
*/


/* áp dụng cho 3 TH : div,a,button */

.hq-btn {
    display: inline-block;
    text-decoration: none;
    /* min-width: 120px !important; */
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 28px;
    border-radius: 26px;
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
}

.hq--btn--disabled {
    opacity: 0.5 !important;
    background-color: #5e5e5e !important;
    cursor: default;
}


/* size */

.hq--btn--size--large {
    padding: 12px 48px;
}

.hq--btn--disabled {
    padding: 6px 42px;
}

.hq-btn+.hq-btn {
    margin-left: 5px;
}


/* background-color button */

.hq--btn--success {
    background-color: #28a745;
}

.hq--btn--danger {
    background-color: #dc3545;
}

.hq--btn--warning {
    background-color: #ffc107;
}

.hq--btn--info {
    background-color: #0dcaf0;
}

.hq-btn:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    opacity: 0.8;
}