/* margin */

.margin-l-5 {
    margin-left: 5px !important;
}

.margin-r-5 {
    margin-right: 5px !important;
}

.margin-t-5 {
    margin-top: 5px !important;
}

.margin-b-5 {
    margin-bottom: 5px !important;
}

.margin-5 {
    margin: 5px !important;
}

.margin-lr-5 {
    margin: 0px 5px !important;
}

.margin-tb-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.margin-15 {
    margin: 15px !important;
}

.margin-t-15 {
    margin-top: 15px !important;
}

.margin-b-15 {
    margin-bottom: 15px !important;
}

.margin-r-15 {
    margin-right: 15px !important;
}

.margin-l-15 {
    margin-left: 15px !important;
}

.margin-lr-15 {
    margin: 0px 15px !important;
}

.margin-tb-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.margin-30 {
    margin: 30px !important;
}

.margin-lr-30 {
    margin: 0px 30px !important;
}

.margin-tb-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.margin-t-30 {
    margin-top: 30px !important;
}

.margin-r-30 {
    margin-right: 30px !important;
}

.margin-b-30 {
    margin-bottom: 30px !important;
}

.margin-l-30 {
    margin-left: 30px !important;
}